/* Self-hosted font */
@font-face {
  font-family: "Cooper Hewitt";
  src:
    url("../fonts/CooperHewitt-Heavy.otf") format("otf"),
    url("../fonts/CooperHewitt-Heavy.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --white: #ffffff;
  --off-white: #f2f2f2;
  --light-grey: #cbc9c9;
  --grey: #707070;
  --dark-grey: #404040;
  --near-black: #3a3a3a;
  --green: #727812;
  --yellow: #b29124;
  --orange: #c65614;
  --cooper-hewitt: 'Cooper Hewitt', sans-serif;
  --merriweather: "Merriweather Sans", sans-serif;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-container {
  margin: auto;
  max-width: 40rem;
  padding: 3rem 1rem;
}

header .inner-container {
  padding: unset;
  color: var(--off-white);
}

body {
  background-color: var(--white);
  font-family: var(--cooper-hewitt);
  font-weight: 300;
  color: var(--dark-grey);
}

ul li {
  padding-left: 2.5rem;
}

a {
  color: var(--dark-grey);
  text-decoration: none;
}

header nav a {
  color: var(--off-white);
}

h1 a,
h2 {
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.button {
  font-weight: 400;
  font-family: var(--merriweather);
  display: inline-block;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  margin: 1rem;
}

.btn-dark {
  background-color: var(--dark-grey);
  color: var(--off-white);
}

.btn-light {
  background-color: var(--off-white);
  color: var(--grey);
}

/* Header & Navigation */
header nav>h2 {
  display: none;
}

header {
  background-color: var(--near-black);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

header p {
  color: var(--near-black);
}

.toggle-btn {
  cursor: pointer;
  color: var(--off-white)
}

.toggle-btn svg {
  stroke: var(--off-white)
}

.first-link {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.first-link svg {
  width: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: none;
}

header nav {
  background-color: var(--near-black);
  width: 100%;
  max-height: 0;
  overflow: hidden;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

.show-nav {
  max-height: unset;
  overflow: visible;
}

.main-menu li {
  margin: 0;
  padding: 0;
}

.main-menu li a {
  display: block;
  padding: 0.2rem;
}

header nav li li a {
  text-decoration: underline;
}

header nav li li a:hover {
  background-color: var(--grey);
  border-radius: 0.5rem;
  color: var(--off-white);
}

.button:hover {
  background-color: var(--orange);
  color: var(--off-white);
}

.first-link:hover {
  color: var(--green)
}

header nav ul li {
  list-style-type: none;
}

.main-menu {
  text-align: right;
}

/* Footer */

footer {
  background-color: var(--near-black);
  font-size: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

footer div {
  width: 100%;
}

footer ul,
footer li {
  margin: 0;
  padding: 0;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu>li {
  flex: 1 1 45%;
  margin: 0 2.5%;
}

footer a {
  color: var(--off-white);
  font-weight: bold;
}

footer .second-tier li>a {
  color: var(--light-grey);
  font-weight: normal;
}

footer h2 {
  display: none;
}

footer svg {
  max-width: 2rem;
  fill: var(--light-grey)
}

footer svg:hover {
  fill: unset;
}

footer ul {
  list-style-type: none;
  padding-bottom: 2rem;
}

/* Good Food */

.good-food h2 {
  font-size: 4rem;
  line-height: 2rem;
  width: 12rem;
  display: inline-block;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.good-food .good-heading {
  color: var(--near-black);
  text-align: left;
  display: block;
}

.good-food .light-heading {
  color: var(--grey);
  text-align: right;
  display: block;
}

.good-food p {
  padding: 1rem;
  font-family: var(--merriweather);
  font-weight: bold;
}

.good-food-images {
  height: calc(15rem + 35vw);
  max-height: 30rem;
  position: relative;
}

.good-food-images img {
  position: absolute;
}


.good-food-images img:first-of-type {
  left: 20vw;
  width: 60vw;
  max-width: 25rem;
}

.good-food-images img:last-of-type {
  left: 2vw;
  top: 10rem;
  width: 60vw;
  max-width: 25rem;
}

/* Local Travel */

.local-travel {
  background-color: var(--off-white);
}

.local-travel h2 {
  font-size: 4rem;
  line-height: 2rem;
  width: 16rem;
  display: inline-block;
  padding-top: 3rem;
  padding-left: 1rem;
}

.local-travel .local-heading {
  color: var(--green);
  text-align: left;
  display: block;
}

.local-travel .light-heading {
  color: var(--grey);
  text-align: right;
  display: block;
}

.local-travel .button {
  margin-top: 0;
  margin-left: 60vw;
}

.local-travel img {
  margin-left: 20vw;
  max-width: 70%;
  padding-bottom: 2rem;
}

/* Stuff */

.stuff div {
  height: 10rem;
  position: relative;
}

.stuff svg {
  position: absolute;
  fill: #c65614;
  bottom: 6rem;
  left: 2rem;
  width: 2rem;
  z-index: 1;
}

.stuff h2 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-size: 4rem;
}

/* Cards */

.card-section {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
}

.card {
  padding: 1rem;
  margin: 1rem;
  width: 90%;
}

.card>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  background-color: var(--off-white);
  padding: 1rem 1rem 4rem 1rem;
}

.card h3 {
  margin-top: -2rem;
  color: var(--yellow);
  font-size: 2.5rem;
}

.card p,
.card a {
  font-family: var(--merriweather);
  font-weight: bold;
  padding-bottom: 1rem;
}

.card a {
  text-decoration: underline;
}

/* Video Blog */

.video-blog {
  padding: 1rem;
}

.video-blog div:first-of-type {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 1rem;
}

.video-blog h2 {
  font-size: 4rem;
  line-height: 2rem;
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.video-heading {
  text-align: left;
  display: block;
}

.blog-heading {
  text-align: left;
  display: block;
}

.video-blog p {
  font-family: var(--merriweather);
}

.video-blog img {
  width: 95vw;
}

@media screen and (min-width: 52.5rem) {
  .wide-flex {
    display: flex;
    align-items: flex-start;
  }

  header div.inner-container {
    max-width: 60rem;
  }

  header div.inner-container>.flex-container {
    flex: 1 0 auto;
  }

  .toggle-btn {
    display: none;
  }

  .first-link svg {
    display: unset;
  }

  header nav {
    justify-content: flex-end;
    position: static;
    overflow: visible;
    white-space: nowrap;
  }

  nav ul li {
    list-style-type: none;
  }

  .main-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .main-menu li {
    position: relative;
  }

  .main-menu>li {
    margin: 1rem;
  }

  header .second-tier {
    min-width: 100%;
    background-color: var(--near-black);
    position: absolute;
    visibility: hidden;
    text-align: left;
  }

  .main-menu li:hover>.second-tier {
    visibility: visible;
  }

  header ul,
  header li {
    padding: 0;
  }

  header .second-tier li {
    padding: 0.5rem;
  }

  header .second-tier>li {
    text-align: center;
  }

  .footer-menu {
    width: 75vw;
  }

  .footer-menu>li {
    flex: 1 1 20%;
    margin: 0 2.5%;
  }

  .good-food {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%
  }

  .good-food div:first-of-type {
    padding-left: 15vw;
    padding-top: 5vw;
  }

  .good-food-images img:first-of-type {
    width: 20rem;
    left: 4rem;
    top: 2rem;
    z-index: 1;
  }

  .good-food-images img:last-of-type {
    left: 2rem;
    top: 14rem;
    width: 20rem;
  }

  .local-travel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 17rem;
    margin-bottom: 25vw;
  }

  .local-travel .button {
    margin-top: 0;
    margin-left: 15vw;
  }

  .local-travel img {
    margin-left: 10vw;
    max-width: 70%;
    margin-top: 2rem;
  }

  .card-section {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .video-blog div:first-of-type {
    padding: 2vw;
    padding-left: 6vw;
    padding-right: 10rem;
    width: 70vw
  }

  .video-blog p,
  .video-blog a {
    margin-left: 4rem;
  }

  .video-blog img {
    width: 20rem;
  }

  .video-blog div:last-of-type {
    position: relative;
  }

  .video-blog img {
    position: absolute;
    right: 4vw;
    bottom: 4rem;
  }
}

@media screen and (min-width: 85rem) {

  .good-food {
    height: 35vw;
  }

  .good-food div:first-of-type {
    padding-left: 15vw;
    padding-top: 5vw;
  }

  .good-food-images img:first-of-type {
    width: 20rem;
    left: 8vw;
    z-index: 0;
  }

  .good-food-images img:last-of-type {
    width: 25vw;
  }

  .local-travel {
    margin-top: 10vw;
  }

  .local-travel div:first-of-type {
    padding-left: 15vw;
  }

  .local-travel img {
    margin-left: 10vw;
    max-width: 50%;
    margin-top: -10vw;
  }

  .card-section {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
  }

  .video-blog div:first-of-type {
    padding: 2vw;
    padding-left: 20vw;
    padding-right: 15rem;
    width: 70vw;
    height: 25rem;
  }

  .video-blog img {
    width: 25rem;
    right: 10vw;
    bottom: 4rem;
  }

  .video-blog .video-heading {
    font-size: 6rem;
    line-height: 3rem;
  }
}